<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      layout:decorator="template">
<head>
    <meta charset="UTF-8">
    <title>Visualiser la traçabilité</title>
    <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>
</head>
<body>
<div layout:fragment="content">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">La traçabilité :</h3>
                <br>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Numéro d'odre</th>
                        <th scope="col">Ajouté par</th>
                        <th scope="col">Date de l'ajout</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reclamation: ${tracabilites}">
                        <th th:text="${reclamation.getOrderNumber()}"></th>
                        <td th:text="${reclamation.getUserName()}"></td>
                        <td th:text="${reclamation.getDate()}"></td>
                        <td> <a th:href="@{/reclamation/{id}(id=${reclamation.getId()})}" class="btn btn-info rBtn"> Détail </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="Tracabilite_Detail">

            <div class="modal fade" id="tr_detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="traLabel">Reclamation détail :</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <h6 class="modal-title" id="Rec_Label">Les infos sur la Réclamation :</h6>
                            <br/>
                            <div class="form-group">
                                <input type="text" class="form-control" id="ObejtToSet" readonly >
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="ReclToSet" readonly >
                            </div>

                            <h6 class="modal-title" id="PL_Label">Les infos de Plaignant  :</h6>
                            <br/>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="civilityToSet" readonly >
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="firstNameToSet" readonly >
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="lastNameToSet" readonly >
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="cinToSet" readonly >
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="emailToSet" readonly >
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="addressToSet" readonly >
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="phoneToSet" readonly >
                                    </div>

                            <h6 class="modal-title" id="Res_Label">Les infos de Respondant :</h6>
                            <br/>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="firstNameResToSet" readonly >
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="lastNameResToSet" readonly >
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="adressResToSet" readonly >
                                    </div>



                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>

                     </div>
                 </div>
              </div>
            </div>
    </div>

</div>
</body>
</html>
