<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      layout:decorator="template">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une Réclamation</title>
</head>
<body>
<div layout:fragment="content">
    <br>
    <div class=" container row col justify-content-md-center" sec:authorize="hasAuthority('USER')">
        <div class="col-md-auto ">
            <h2>La suite pour ajouter une réclamation</h2>
            <br>
            <form th:action="@{/saveReclamation}"  method="post">
                <div th:object="${respondent}">
                    <div class="form-group">
                        <h5>Saisissez les infos de Destinataire.</h5>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="firstName" placeholder="Prénom d'intimé" name="firstName" th:field="*{firstName}" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="lastName" placeholder="Nom d'intimé" name="lastName" th:field="*{lastName}" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="adress" placeholder="Son adresse" name="adress" th:field="*{adress}" required>
                    </div>
                </div>
                <div th:object="${reclamation}">
                    <div class="form-group">
                        <h5>Saisissez les infos de la réclamation.</h5>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="objet" placeholder="Objet de réclamation" name="objet" th:field="*{object}" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="url" placeholder="url de PDF" name="url" th:field="*{reclamation}" required>
                    </div>

                </div>
                <br>
                <button type="submit" class="btn-lg btn-block btn btn-primary">Enregistrer</button>

            </form>
        </div>
    </div>
</div>

</body>
</html>
